<!-- Navbar Menu -->
<nav class="navbar navbar-expand-lg navbar-light bg-transparent navbar-game">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <i class="bi bi-chevron-left"></i>
      <img src="images/icon-game.svg" alt="icon-menu-game" width="55" class="d-inline-block align-text-top mt-0">
      ROCK PAPER SCISSORS
    </a>
  </div>
</nav>